*{
    margin: 0; 
    padding: 0;
}
ul,
ol {
    list-style: none;
}

a: {
    text-decoration: none;
 }
 .content-signature {
     font-size: 30px;
 }
.nav-menu {
    text-align: center;
    }
    
    body {
    font-family: 'Playfair Display', serif;
    color:#626262;
    }
    
    nav {
    text-transform: uppercase;
    margin: 50px 100px 0px 100px;
    padding: 10px 0px 10px 0px;
    }
    .container {
        width: 901 px;
        margin: 0 auto;
    }
    .menu-item {
    display: inline-block;
    padding: 10px 50px 10px 50px;
    }
    .menu-link {
    color:#939393;
    text-decoration: none;
    }
    
    .menu-item a:hover {
    color: #03a9f4;
    }
    
    .content-wrapper{
    margin: 50px 100px 0px 100px;
    padding-left: 150px;
    
    }
    
    .content-area{
    display: inline-block;
    position: relative;
    width: 45%;
    padding:0px;
    margin-bottom: 30px;
    }
    .content-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    }
    .content-label {
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14pt;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 26px;
    }
    .content-title {
    font-size: 30px;
    margin-bottom: 32px;
    }
    
    .link {
        display:inline-block;
        margin-bottom: 65px;
        width: 163px ;
        height: 38px;
        color:#626262;
        border: 2px solid black;
        text-decoration: none;
        text-align:center;
        padding-top: 23px;
        font-size: 20px;
        position:absolute;
        left:43%;
        right:57%;
        margin-bottom: 60px;

    }
    
    .contene-list {
    display:inline-block;
    width: 421px;
    margin-right: 61px;
    margin-bottom: 60px;
    }
    
    