.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 18px;
  border-top: $text-color solid 1px;
  padding-top: 10px;

  &__text {
    font-size: 14px;
    font-family: $font-family;
    color: rgb(51, 51, 51);
  }

  &__special {
    color: #f38181;
  }

  &__form {
    display: flex;

    &__email {
      width: 230px;
      height: 40px;
      border: $text-color 1px solid;
      font-size: 14px;
      font-family: "Roboto";
      color: rgb(51, 51, 51);
      font-style: italic;
      padding-left: 10px;

      &::placeholder {
        color: $text-color;
      }

      &__button {
        width: 150px;
        height: 40px;
        margin-left: -0.4em;
        background-color: rgb(149, 225, 211);
        font-size: 14px;
        font-family: "Montserrat";
        color: $text-color;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
      }

    }
  }
}


// .footer__text {
//   font-size: 14px;
//   font-family: "Montserrat";
//   color: rgb(51, 51, 51);
// }

// .footer__special {
//   color: #f38181;
// }

// .footer__form {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
// }

// .form__email {
//   width: 230px;
//   height: 40px;
//   border: rgb(204, 204, 204) 1px solid;
//   font-size: 14px;
//   font-family: "Roboto";
//   color: rgb(51, 51, 51);
//   font-style: italic;
//   padding-left: 10px;
// }


// .form__email::placeholder {
//   color: rgb(204, 204, 204);
// }

// .form__button {
//   width: 150px;
//   height: 40px;
//   margin-left: -0.4em;
//   background-color: rgb(149, 225, 211);
//   font-size: 14px;
//   font-family: "Montserrat";
//   color: rgb(255, 255, 255);
//   font-weight: bold;
//   text-transform: uppercase;
//   border: none;
//   cursor: pointer;
// }
