
:root {
    --main-color:#fed136
  }


@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Noto Sans Italic'), local('NotoSans-Italic'),
       url('../fonts/noto-sans-v9-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/noto-sans-v9-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'),
       url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
         url('../fonts/montserrat-v14-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/montserrat-v14-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
         url('../fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'), 
         url('../fonts/kaushan-script-v8-latin-regular.woff') format('woff'); 
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
    display: block;
  }

.container {
    width: 58.75rem;
    margin: 0 auto;
  }
.logo{
    font-size: 1.625rem;
    font-family: 'Kaushan Script',sans-serif;
    color:var(--main-color);
    line-height: 1.577;
      
      }
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    width:31.25rem;
}
.header-menu-link{
    font-size: 0.875rem;
    font-family: "Montserrat";
    color: #222222;
    text-transform: uppercase;
    line-height: 2.929;
    font-weight: bold;
    transition: color 500ms linear 0s;
    }
.header-menu-link:hover{
    color: var(--main-color);
}
.page-header{
    padding-top: 3.125rem;
    padding: bottom 7.8125rem;
}
.signature-container{
    display: flex;
    text-align: center;
   flex-direction: column;
   padding-bottom:4.6875rem;
}
.signature{
    font-size: 2.5rem;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.875;
      }
.title{
  display: block;
  font-size: 1rem;
  font-family: 'Noto Sans',sans-serif;
  color: rgb(119, 119, 119);
  line-height: 1.2;
  text-transform: none;
  }
  .main-section{
    padding-top: 7.8125rem;
    padding-bottom: 6.875rem;
  }
  .text-list{
    display: flex;
    justify-content: space-between;
  }
  .list::before{
    display: block;
    content: "";
    border: var(--main-color) 3px solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    margin: 0 auto;
  }
  .list:first-child::before{
    background-image: url(../images/Icon-Basket.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .list:nth-child(2)::before{
    background-image: url(../images/Icon-Laptop.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .list:last-child::before{
    background-image: url(../images/Icon-Locked.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .list{
    text-align: center;
    width: 16.875rem;

  }
  .cards{
    padding-top: 0.625rem;
  }
  .cards-title{
    font-size: 1.125rem;
    font-family: "Montserrat";
    color: rgb(34, 34, 34);
    font-weight: bold;
    line-height: 3.167;
    }
  .text-signature{
    font-size: 0.875rem;
    font-family:'Noto Sans',sans-serif;
    color: rgb(119, 119, 119);
    line-height: 1.2;
  }
  .map-section{
    background-color: #222222;
    background-image: url(../images/Map\ Image.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 6.875rem;
    padding-bottom: 115px;

  }
  .second-title{
    font-size: 2.5rem;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    }
    .second-text{
      font-size: 1rem;
      font-family:'Noto Sans',sans-serif;
      color: rgb(119, 119, 119);
      font-style: italic;
      line-height: 1.2;
      text-align: center;
      padding-top: 1.5rem;
      padding-bottom: 4.875rem;
      }
      
 
  .left {
    display: flex;
    flex-direction: column;
    width: calc(50% - 18px);
    margin-right: 1.875rem;
  }
  
  .contact__form-btn{
    border-radius: 2px solid var(--main-color);
    display:flex;
    align-items: center;
  }
  
  .contact__form-message{
    width: 28.4375rem;
    height: 13.125rem;
    resize: none;
    align-items: baseline;
  }
  .contact__form-input {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding-left: 1.125rem;
    border: 1px solid rgb(85, 85, 85);
    width: 28.4375rem;
    height: 3.1875rem;
    border-radius: 2px ;
  }

  .contact__form-input:not(:last-child) {
    margin-bottom: 1.75rem;
  }

 .contact__form-btn{
  width: 10.5rem;
  height: 2.625rem;
  border: 1px solid rgb(85, 85, 85);
  background-color:var(--main-color);
  cursor: pointer;
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  border-radius: 2px ;
}


.button-wrapper{
  padding-top: 1.875rem;
  display: block;
  margin:  0 auto;
}
  .contact__form-input{
    width: 28.4375rem;
  }
.contact__form-btn {
  display: block;
}
  .contact__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
  }

.contact__form-input:required:valid,
.contact__form-message:required:valid{
  outline: 2px solid green;
}

.contact__form-input:required:focus:invalid,
.contact__form-message:required:focus:invalid {
  outline: 2px solid red;
}

.contact__form-input,.contact__form-message 
  {
  font-size: 0.875rem;
  font-family: "Montserrat";
  color: rgb(187, 187, 187);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom:1.25rem;
  }
  .contact__form-message {
    padding-top: 1.125rem;
    padding-left: 1.25rem;
    color: rgb(187, 187, 187);
  }